<html>
<head>
<title>Register</title>
</head>
<body>
<pre>
<form method="post" action="create">
Name: <input type="text" name="empName">
Pass: <input type="password" name="empPwd">
Gen: <input type="radio" name="empGen" value="Male">Male
<input type="radio" name="empGen" value="Female">Female
Add: <textarea name="empAdd"></textarea>
Proj:<select name="empProj" 
<option>-SELECT-</option>
<option>DELTA</option>
<option>ALPHA</option>
<option>GAMMA</option>
></select>
Langs:
<input type="checkbox" name="empLangs" value="ENG"> ENG
<input type="checkbox" name="empLangs" value="HIND"> HIND
<input type="checkbox" name="empLangs" value="TAM"> TAM
Clients:<select name="empClients" size="4" multiple>
<option>NIT</option>
<option>Oracle</option>
<option>TCS</option>
<option>NANO</option>
<option>MOTORS</option>
</select>
<input type="submit" value="create"/>
</pre>


</form>

</body>






</html>